<form method="POST" action="#{profilePath}" enctype="multipart/form-data">
   <input type="text" name="jcr:primaryType" value="cq:PageContent" />
   <input type="text" name="cq:designPath" value="/etc/designs/michigan-lsa" />
   <input type="text" name="cq:template" value="/apps/michigan-lsa/templates/department_people_list" />
   <input type="text" name="sling:resourceType" value="michigan-lsa/components/pages/department_sub" />

   <input type="text" name="jcr:title" value="#{@firstName} #{@lastName}" />
   <input type="text" name="uniqueName" value="#{@uniqueName}" />
   <input type="text" name="firstName" value="#{@firstName}" />
   <input type="text" name="lastName" value="#{@lastName}" />
   <input type="text" name="officeLocation" value="#{@officeLocation}" />
   <input type="text" name="officeHours" value="#{@officeHours}" />
   <input type="text" name="phone" value="#{@phone}" />
   <input type="text" name="about" value="#{@about}" />
   <input type="text" name="title" value="#{@title}" />
   <input type="text" name="linkText1" value="Homepage" />
   <input type="text" name="website1" value="#{@url}" />

   <input type="text" name="education" value="#{@education[0]}" />
   <input type="text" name="education@TypeHint" value="String[]" />

   <!-- image file -->
   <input type="file" name="profileImage" />
   <input type="hidden" name="profileImage@TypeHint" value="nt:file" value="#{@imageURI}"/> -->

   <!-- cv -->
   <input type="file" name="*" />
   <input type="hidden" name="*@TypeHint" value="nt:file" value="#{@imageURI}"/>   
</form>